@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Press+Start+2P&display=swap");
@import "tailwindcss";
/* @plugin "daisyui"; */

@theme {
  --font-family-display:
    "Press Start 2P", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-body:
    "Nunito", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-*: initial;
  --color-background: #faf9f6;
  --color-surface: #ffffff; /* for cards, modals, etc */
  --color-primary: #ff6b35;
  --color-secondary: #ffd166;
  --color-foreground: #2b2d42; /* main text color */
  --color-muted: #6c757d; /* secondary text */
  --color-border: #e0e0e0;
}

@layer base {
  [data-theme="dark"] {
    --color-background: #faf9f6;
    --color-surface: #ffffff; /* for cards, modals, etc */
    --color-primary: #ff6b35;
    --color-secondary: #ffd166;
    --color-foreground: #2b2d42; /* main text color */
    --color-muted: #6c757d; /* secondary text */
    --color-border: #e0e0e0;
  }

  h1 {
    font-size: var(--text-2xl);
  }

  h2 {
    font-size: var(--text-xl);
  }
}

/* img { */
/* display: block; */
/* max-width: 100%; */
/* } */
