@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@theme {
  --color-background: hsl(0 0% 96%);
  --color-foreground: hsl(0 0% 14%);
  --color-surface: hsl(0 0% 88%);
  --color-muted: hsl(0 0% 33%);
  --color-accent: hsl(90 55% 50%);
  --color-accent-hover: hsl(90 55% 40%);
}

@custom-media dark (prefers-color-scheme: dark);
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@variant dark {
  --color-background: hsl(180 5% 12%);
  --color-foreground: hsl(0 0% 96%);
  --color-surface: hsl(180 5% 28%);
  --color-muted: hsl(0 0% 42%);
  --color-accent: hsl(90 55% 50%);
  --color-accent-hover: hsl(90 55% 40%);
}
