---
import IconText from "./IconText.astro";
import skills from "../data/skills.json";
---

<div class="relative overflow-x-hidden py-6 mt-24">
  <div class="flex animate-scroll">
    {
      [...Array(3)].map(() => (
        <div class="flex items-center shrink-0">
          {skills.map((skill) => (
            <IconText
              icon={skill.icon}
              customIcon={skill.customIcon}
              name={skill.name}
            />
          ))}
        </div>
      ))
    }
  </div>
</div>

<style>
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% / 3));
    }
  }

  .animate-scroll {
    animation: scroll 60s linear infinite;
  }

  .animate-scroll:hover {
    animation-play-state: paused;
  }
</style>
