---
import faqs from "../data/faq.json";
import FAQItem from "./FAQItem.astro";
---

<section id="faq" class="flex flex-col gap-8 bg-mono-900 px-4 py-8 lg:px-48">
  <h1>FAQ</h1>
  <div class="flex flex-col gap-2">
    {
      faqs.map((item) => (
        <FAQItem question={item.question} answer={item.answer} />
      ))
    }
  </div>
</section>
