---
const { question, answer } = Astro.props;
---

<details>
  <summary class="bg-mono-600 p-4 text-on-dark-heading">{question}</summary>
  <p class="bg-mono-700 p-4 text-on-dark-body">{answer}</p>
</details>
